/* small screens */

body {
  background: #f8f8f8;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  color: #333;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* .features { */
body > section {    /* body直下のsection*/
  padding: 60px 0;
  /* background: #fff; */
}

/* 奇数番目が白にする */
body > section:nth-of-type(odd) {
  background: #fff;
}

/* .feature h1 { */
.section-title {
  text-align: center;
  font-weight: normal;
  margin: 0 0 60px;
}

/* 文書行間を広げる */
p {
  line-height: 2;
}

header h1 {
  font-size: 28px;
  font-weight: normal;
}

/* ブラウザ左上起点 */
#menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  color: #fff;
  display: none;    /* 初期値は非表示*/
}

#menu.shown {
  display: block;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
}

#menu li {
  line-height: 2;
}

#menu a {
  text-decoration: none;
  color: inherit;  /*親要素から引継ぐ*/
}

#open_menu {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

#close_menu {
  padding: 15px;
  float: right;
  cursor: pointer;
}

/* 画像が大きすぎたので調整 */
.feature img {
  width: 100%;
}

/* 最後のmarginは付けない */
.feature:not(:last-child) {
  margin-bottom: 60px;
}

.news-item img {
  width: 100%;
}

.how-to-use iframe {
  /* 絶対配置 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*
100% : x% = 16 : 9
x% = 9 * 100% / 16 = 56.25%
*/

.how-to-use .iframe-wrapper {
  background: pink;
  /* 縦横4:1領域は親領域の幅に対しての割合 */
  /* padding-bottom: 25%; */
  padding-bottom: 56.25%;
  height: 0;
  /* 絶対配置 */
  position: relative;
}

footer {
  text-align: center;
  padding: 60px 0;
  color: #ccc;
}

/* medium screens */

/* 指定の値を超えたら色を変える */
@media (min-width: 570px) {
  body {
    background: skyblue;
  }
}

/* large screens */

@media (min-width: 912px) {
  body {
    background: lime;
  }
}
